<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server</title>
</head>
<body>
    <div id="main-section">
        <form method="POST">
            <label for="dropdown">Select user/book rfid:</label>
            <select id="dropdown" name="rfid">
                <option value="147912274">Anup</option>
                <option value="22710010326">Gourav</option>
                <option value="1000">Mannpreeti</option>
                <option value="1001">Pratiksha</option>
                <option value="1002">Pratyusha</option>
                <option value="3168135">B001</option>
                <option value="671702104">B002</option>
                <option value="1003">B003</option>
                <option value="1004">B004</option>
                <option value="1005">B005</option>
                <option value="1006">B006</option>
                <option value="1007">B007</option>
                <option value="1008">B008</option>
                <option value="1009">B009</option>
                <option value="1010">B010</option>
                <option value="1011">B001_1</option>
                <option value="1012">B002_2</option>
                <option value="1013">B003_3</option>
            </select>
            <input type="submit">
        </form>
    </div>
</body>
</html>
