.table-container {
    position: relative;
    height: 500px;
  }
  
.issue_button {
  position: absolute;
  width: 250px;
  bottom: 0%;
  right: 10%;
  transform: translateX(50%);
}

.cancel_button {
  position: absolute;
  width: 250px;
  bottom: 0%;
  right: 10%;
  margin-right: 1%;
  transform: translateX(-50%);
}